<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/predict">Predict</a>
        <a href="/about">About</a>
        <a href="/contact" class="active">Contact</a>
    </div>
</nav>

<!-- CONTACT SECTION -->
<div class="hero">
    <div class="hero-content">
        <h1>Contact & Developer Info</h1>

        <p>
            This project was developed as part of my learning journey in
            Machine Learning and Full-Stack Development.
        </p>

        <div class="contact-box">
            <p><strong>Name:</strong> Khwahish seth</p>
            <p><strong>Role:</strong> Aspiring Machine Learning Engineer</p>
            <p><strong>Email:</strong> khwahishseth@gmail.com</p>
            <p><strong>GitHub:</strong> https://github.com/Khwa678</p>
            <p><strong>LinkedIn:</strong> https://www.linkedin.com/in/khwahish-ai-mlengineer/details/experience/</p>